<div class="container">
	<div class="row">
		<aside class="col 2 sidebar hide">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Salary</h3>
					<h3>Job Location</h3>
					<ul class="list-unstyled">
						<li>(3) Job Location</li>
						<li>(5) Job Location</li>
					</ul>
					<h3>Job Category</h3>
					<ul class="list-unstyled">
						<li>(3) Job Category</li>
						<li>(5) Job Category</li>
					</ul>
					<h3>Job Type</h3>
					<ul class="list-unstyled">
						<li>(3) Job Type</li>
						<li>(5) Job Type</li>
					</ul>
				</div>
			</div>
		</aside>
		<main class="col m12">
			<div id="filter" class="row">
				<div class="col-md-12">
			
				</div>
			</div>
			<div id="content" class="row">
				<div class="col m12">
					<div class="list-unstyled jobs collection">
						
					</div>
				</div>
			</div>
		</main>
		<aside class="col m3 inset hide">
			
		</aside>
	</div>
</div>