<div id="map"></div>
<main class="container">
	<div class="row">
		<section id="home" class="col m12 s12 center-align">
			<form class="valign">
				<div class="row">
					<div class="col m5 s12 input-field">
						<input type="text" class="form-control input-lg" id="job_title" ng-model="search.title">
						<label for="job-title" class="active">Job Title</label>
					</div>
					<div class="col m5 s12 input-field">
						<input type="text" class="form-control input-lg" id="job_location" ng-model="search.location">
						<label for="job-location" class="active">Job Location</label>
					</div>
					<div class="col m2 input-field">
						<button class="btn btn-primary btn-block btn-lg" ng-click="findjobs(search)">Find Jobs</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</main><!-- /.container -->