<main class="container-fluid">

	<div class="row">
		<section id="home" class="col-md-8 center-block">
			<form class="valign">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="job-title" placeholder="Job Title">
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<input type="text" class="form-control input-lg" id="job-location" placeholder="Location">
						</div>
					</div>
					<div class="col-md-2">
						<button class="btn btn-primary btn-block btn-lg" type="submit">Find Jobs</button>
					</div>
				</div>
			</form>
		</section>
	</div>

</main><!-- /.container -->