<div>
	<a href="#jobs/{{ job.id }}" class="left">{{ job.title }}</a>
</div>
<!--
<div class="card small ">
	<div class="card-image">
		<img src="/images/job-list-bg.jpg">
		<span class="card-title activator">{{ job.title }}<i class="material-icons right">more_vert</i></span>
	</div>
    <div class="card-content">
		<p><a href="#jobs/{{ job.id }}" class="btn waves-effect waves-light">View Job</a></p>
    </div>
    <div class="card-reveal">
		<span class="card-title grey-text text-darken-4">{{ job.title }}<i class="material-icons right">close</i></span>
		<p>Job Description</p>
		{{ job.description }}
    </div>
</div>
-->