<div class="card">
	<div class="card-content">
		<div class="clearfix header">
			<span class="card-title">
				<h6 class="left">Job Details</h6>
				<a ng-click="apply()" class="right btn-xs hide" ng-show="!jobForm.$visible" title="Apply to Job">
					<i class="material-icons tiny">input</i>
				</a> 
				<a ng-click="jobForm.$show()" class="right" ng-show="!jobForm.$visible"  title="Edit Job">
					<i class="material-icons tiny">mode_edit</i>
				</a>
				<span ng-show="jobForm.$visible">
					<a type="button" class="right" ng-disabled="jobForm.$waiting" ng-click="jobForm.$cancel()">
					  <i class="material-icons tiny" title="Cancel Edit">not_interested</i>
					</a>
					<a type="submit" class="right" ng-disabled="jobForm.$waiting">
					  <i class="material-icons tiny" title="Save Edit">done</i>
					</a>
				</span>
			</span>
		</div>
		<dl class="row">
			<dt class="col m12">Post Status</dt>
			<dd class="col m12 text-right">
				<span editable-select="jobForm.data.job_status" e-ng-options="g as g.name for g in $root.job.options.job_status track by g.id">
					{{ jobOptions('job_status') }}
				</span>
			</dd>
		</dl>
		<dl class="row">
			<dt class="col m12">Title</dt>
			<dd class="col m12 text-right">
				<span editable-text="jobForm.data.job_title">
					{{ currentJob.title || 'No Job Title' }}
				</span>
			</dd>
		</dl>
		<div class="row chips chips-placeholder">
		
		</div>
		<dl class="row">
			<dt class="col m12">Category</dt>
			<dd class="col m12 text-right">
				<span editable-select="jobForm.data.job_category" e-ng-options="g as g.name for g in $root.job.options.job_categories track by g.id">
					{{ jobForm.data.job_category.name || currentJob.job_category.name }}
				</span>
			</dd>
		</dl>
		<dl class="row">
			<dt class="col m12">Level</dt>
			<dd class="col m12 text-right">
				<span editable-select="jobForm.data.job_level" e-ng-options="g as g.name for g in $root.job.options.job_levels track by g.id">
					{{ jobForm.data.job_level.name || currentJob.job_level.name }}
				</span>
			</dd>
		</dl>
		<dl class="row">
			<dt class="col m12">Location</dt>
			<dd class="col m12 text-right">
				<span editable-text="currentJob.job_location">
					{{ currentJob.location.name || 'No Location Set' }}
				</span>
			</dd>
		</dl>
		<dl class="row">
			<dt class="col m12">Company</dt>
			<dd class="col m12 text-right">
				<a href="#company/{{ currentJob.company.id }}" title="{{ currentJob.company.name }}">
					{{ currentJob.company.name }}
				</a>
			</dd>
		</dl>
		<dl class="row">
			<dt class="col m12">Type</dt>
			<dd class="col m12 text-right">
				<span editable-select="jobForm.data.job_type" e-ng-options="g as g.name for g in $root.job.options.job_types track by g.id">
					{{ jobForm.data.job_type.name || currentJob.job_type.name }}
				</span>
			</dd>
		</dl>
		<h6>Job Information</h6>
		<dl class="row">
			<dt class="col m12">Deadline</dt>
			<dd class="col m12 text-right">
				<span editable-date="jobForm.data.application_deadline">
					{{ (jobForm.data.application_deadline | date:"fullDate") || (currentJob.application_deadline | date:"fullDate") }}
				</span>
			</dd>
		</dl>
	</div>
</div>
