<form editable-form name="jobForm" onaftersave="updateJob()">
	<div class="fixed-action-btn">
		<div class="container">
			<a class="btn-floating btn-large red waves-effect waves-light" ng-click="edit($event)">
				<i class="large material-icons">mode_edit</i>
			</a>
		</div>
	</div>
	<aside class="row toolbar grey lighten-3">
		<div class="container">
			<div class="left">
				{{ currentJob.title }} 
				<span>
					{{ currentJob.job_category.name }}
				</span>
			</div>
			<div class="right text-right">
				<span>
					<i class="material-icons tiny">insert_chart</i> {{ currentJob.job_type.name }}
				</span>
				<span>
					<i class="material-icons tiny">insert_chart</i> {{ currentJob.job_level.name }}
				</span>
			</div>
		</div>
	</aside>
	<section class="row description grey lighten-2">
		<div class="container">
			<h6>Job Description</h6>
			<div ng-bind-html="currentJob.description"></div>
		</div>
	</section>
	<section class="row skills grey lighten-1">
		<div class="container">
			<h6>Required Skills</h6>
		</div>
	</section>	
</form>
