<div class="view-asset">
	<div class="fixed-action-btn">
		<div class="container">
			<a class="btn-floating btn-large red waves-effect waves-light" ng-click="edit($event)">
				<i class="large material-icons">mode_edit</i>
			</a>
		</div>
	</div>
	<aside class="toolbar thick">
		<div class="row">
			<div class="container">
				<div class="title center grey-text text-lighten-5">
					<h1>{{ currentAsset.title }}</h1>
					<div class="chips">
						<div class="chip grey-text text-lighten-5">
							<a href="#companies/{{ currentAsset.company.id }}" title="{{ currentAsset.company.name }}">{{ currentAsset.company.name }}</a>
						</div>
					</div>
					<div class="info">
						<ul class="collection">
							<li ng-show="currentAsset.job_category.name">
								<i class="material-icons">info_outline</i>{{ currentAsset.job_category.name }}
							</li>
							<li ng-show="currentAsset.job_type.name">
								<i class="material-icons">work</i>{{ currentAsset.job_type.name }}
							</li>
							<li ng-show="currentAsset.job_level.name">
								<i class="material-icons">group_work</i>{{ currentAsset.job_level.name }}
							</li>
							<li ng-show="currentAsset.salary_type.name">
								<i class="material-icons">monetization_on</i> Salary <span class="min">{{ currentAsset.salary | date }}</span> - <span class="max"></span> {{ currentAsset.salary_type.name }}
							</li>
							<li ng-show="currentAsset.application_deadline">
								<i class="material-icons">date_range</i>{{ currentAsset.application_deadline | date }}
							</li>
						</ul>
					</div>
					<a ng-click="apply()" class="btn">Apply</a>
				</div>
			</div>
		</div>
	</aside>
	<section class="row grey lighten-3 info thick">
		<div class="container">
			<h6 class="center">Job Description</h6>
			<div ng-bind-html="currentAsset.description">{{ currentAsset.description }}</div>
		</div>
	</section>
	<section class="row skills lighten-3 thick" ng-show="currentAsset.required_skills.length > 1">
		<div class="container">
			<h6 class="center">Required Skills</h6>
			<div class="skills">
				<div class="chip" ng-repeat="skill in currentAsset.required_skills">{{ skill.tag }}</div>
			</div>
		</div>
	</section>
	<section class="row company thick">
		<div class="container">
			<h6 class="center">About {{ currentAsset.company.name }}</h6>
			{{ currentAsset.company.description }}
		</div>
	</section>		
</div>
