<div class="view-asset">
	<aside class="header">
		<div class="uk-container uk-container-center">
		
		</div>
	</aside>
	<div class="uk-container uk-container-center bg-grey">
		<div class="uk-grid">
			<main class="uk-width-medium-7-10 uk-width-small-1-1 job-info">
				<div class="uk-panel uk-panel-box uk-margin-small-bottom bg-white">
					<div class="uk-grid">
						<div class="uk-width-1-11">
							<article class="uk-article">
								<p class="uk-article-lead">{{ currentAsset.title }} <small class="uk-text-muted uk-text-uppercase">Posted {{ currentAsset.created_at | moment }}</small></p>
								<p><a href="#companies/{{ currentAsset.company.id }}" ng-if="currentAsset.company.name">{{ currentAsset.company.name }}</a> <span ng-if="currentAsset.location.name">, {{ currentAsset.location.name }}</span></p>
								<p class="uk-article-meta info">
									<ul class="uk-subnav uk-subnav-line uk-text-muted uk-hidden-small uk-text-uppercase">
										<li ng-if="currentAsset.job_category.name">
											{{ currentAsset.job_category.name }}
										</li>
										<li ng-if="currentAsset.job_type.name">
											{{ currentAsset.job_type.name }}
										</li>
										<li ng-if="currentAsset.job_level.name">
											{{ currentAsset.job_level.name }}
										</li>
										<li ng-if="currentAsset.salary_type.name">
											Salary <span class="min">{{ currentAsset.salary | date }}</span> - <span class="max"></span> {{ currentAsset.salary_type.name }}
										</li>
										<li ng-if="currentAsset.application_deadline">
											{{ currentAsset.application_deadline | date }}
										</li>
									</ul>
								</p>
								<div class="uk-button-group">
									<button ng-if="currentAsset.status && !currentAsset.user_applied" ng-click="apply(currentAsset.id)" class="uk-button uk-button-primary">Apply</a>
									<button ng-if="currentAsset.status && currentAsset.user_applied" class="uk-button uk-button-primary"><i class="uk-icon-check-circle-o"></i> Applied</a>
									<button ng-if="$root.$auth.isAuthenticated() && $root.user.info.access_level === 'admin'" class="uk-button uk-button-default" ng-click="edit($event)">Edit</button>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="uk-panel uk-panel-box uk-margin-small-bottom bg-white">
					<section ng-if="currentAsset.description" class="description">
						<h3 class="uk-panel-title">Job Description</h3>
						<div ng-bind-html="currentAsset.description">{{ currentAsset.description }}</div>
					</section>
					<section class="skills" ng-if="currentAsset.job_skills.length >= 1">
						<h3 class="uk-panel-title">Required Skills</h3>
						<div class="skills">
							<div class="chip" ng-repeat="skill in currentAsset.job_skills">{{ skill.tag }}</div>
						</div>
					</section>	
				</div>
				<div class="uk-panel uk-panel-box uk-margin-small-bottom bg-white">
					<h3 class="uk-panel-title">About {{ currentAsset.company.name }}</h3>
					<div ng-bind-html="currentAsset.company.description">{{ currentAsset.company.description }}</div>
				</div>
			</main>
			<aside class="uk-width-medium-3-10 uk-width-small-1-11">
				<div class="uk-panel uk-panel-box">
					<div class="uk-panel-teaser">
						<img src="https://tranquil-reaches-27375.herokuapp.com/images/view-job-bg.jpg" alt="">
					</div>
					<div class="uk-thumbnail uk-thumbnail-expand">
						<img src="{{ currentAsset.company.logo }}" />
					</div>
					<article class="uk-article">
						<p class="uk-article-lead ng-binding">{{ currentAsset.company.name }}</p>
						<p class="uk-article-meta info">
							<ul class="uk-subnav uk-subnav-line uk-text-muted uk-hidden-small uk-text-uppercase">

							</ul>
						</p>
					</article>
				</div>
			</aside>
		</div>
	</div>
</div>
