.center-block {
  float: none !important; }

.valign {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%); }

.panel {
  border-radius: 0px;
  border-color: #ddd; }

.loading {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000; }
  .loading .preloader-wrapper {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }

.bg-grey {
  background: #fafafa; }

.bg-white {
  background: white; }

.progress {
  margin: 0px; }

.toolbar {
  padding: 10px 0;
  margin: 0px; }

section {
  padding: 10px 0;
  margin: 0px !important; }

.modal.bottom-sheet {
  max-height: 80%; }
  .modal.bottom-sheet .range-field {
    margin-top: 0px; }
  .modal.bottom-sheet .modal-footer .btn {
    margin: 0px 5px; }

.pac-container {
  z-index: 10000; }

#salary {
  margin: 15px 0px; }

.thick {
  padding: 40px 0; }

.bottom {
  bottom: 0px;
  position: absolute; }

.top {
  top: 0px;
  position: absolute; }

.twitter-typeahead {
  width: 100%; }

.tt-menu {
  margin-top: -20px;
  width: 100%; }
  .tt-menu .tt-suggestion {
    background: white;
    padding: 10px; }
    .tt-menu .tt-suggestion:hover, .tt-menu .tt-suggestion:focus {
      background: #1de9b6;
      color: white; }

.chips.hollow {
  margin-top: 15px;
  border: none !important;
  margin-bottom: 0px;
  min-height: 0px; }
  .chips.hollow .chip {
    background: transparent;
    border: 2px solid lightgray;
    margin: 0px;
    line-height: 26px; }
    .chips.hollow .chip a {
      color: lightgray; }

#modal.login .uk-modal-dialog {
  max-width: 300px; }
  #modal.login .uk-modal-dialog .uk-modal-spinner {
    z-index: 1000; }

.uk-panel-box {
  border-radius: 0px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.05); }

.uk-thumbnail {
  border: 0px; }

#view .view_asset main, #view .view_asset aside.sidebar {
  margin-top: -70px; }

.job_list ul li article header {
  margin: 0px;
  border: 0px; }
  .job_list ul li article header ul {
    padding-left: 0px; }
    .job_list ul li article header ul li {
      padding-left: 0px; }

aside.toolbar {
  min-height: 180px; }

.jobs_component .uk-panel {
  background: white;
  margin-top: -70px; }
  .jobs_component .uk-panel article header {
    border-radius: 0px;
    margin: 0px; }
    .jobs_component .uk-panel article header h4 {
      font-size: 12px; }

.company_widget .logo {
  background: none; }
  .company_widget .logo img {
    max-width: 80px; }

.login {
  transition: all 0.5s; }
  .login .uk-modal-dialog.error {
    background: #fff1f0;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3); }
  .login .uk-modal-dialog.success {
    background: #f2fae3;
    color: #659f13;
    border-color: rgba(101, 159, 19, 0.3); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

p {
  font-family: 'Lato', sans-serif; }

body {
  font-family: 'Roboto', sans-serif; }
  body .navbar {
    margin: 0px;
    border-bottom: 1px solid lightgray; }
    body .navbar .navbar-right {
      margin: 0px !important; }
  body section#home {
    height: 87vh;
    position: relative; }
    body section#home form {
      width: 100%; }
  body .sub-header h1 {
    margin: 0px; }
  body aside {
    /*&.sidebar{
				font-size: 12px;
				margin-top: -70px;
				.panel{
					.panel-body{
						.header{
							padding-bottom: 10px;
							margin-bottom: 10px;
						}
						h3{
							line-height: 22px;
							padding: 0px;
							margin: 0px;
							font-weight: bold;
							font-size:inherit;
							text-transform: uppercase;
						}
						dl{
							&.row{
								margin-bottom:0px;
								text-transform: capitalize;
								color:gray;
								vertical-align:middle;
								dt{
									color : gray;
									line-height:30px;
								}
								dd{
									color : $primary-color;
									line-height: 30px;
									span{
										color:gray;
										font-style: italic;
										select,input{
											&.form-control{
												margin-bottom: 10px;
												text-transform: capitalize;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			*/ }
    body aside.header {
      min-height: 180px;
      background: url("http://images1.andersonautogroup.com/header-background.jpg");
      background-size: cover;
      padding: 0px;
      background-position: center bottom; }
      body aside.header .row {
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0px; }
        body aside.header .row .title {
          padding: 15px 0;
          margin: 0px;
          position: relative; }
          body aside.header .row .title img.circle {
            width: 100px; }
          body aside.header .row .title .location {
            font-size: 13px;
            margin-top: 15px; }
            body aside.header .row .title .location i {
              font-size: inherit; }
          body aside.header .row .title h1 {
            margin: 0px;
            font-size: 30px; }
          body aside.header .row .title .chips {
            margin-top: 15px;
            border: none !important;
            margin-bottom: 0px;
            min-height: 0px; }
            body aside.header .row .title .chips .chip {
              background: transparent;
              border: 2px solid lightgray;
              margin: 0px;
              line-height: 26px; }
              body aside.header .row .title .chips .chip a {
                color: lightgray; }
          body aside.header .row .title .info ul {
            margin: 10px 0;
            border: 0px; }
            body aside.header .row .title .info ul li {
              text-transform: uppercase;
              margin-right: 10px;
              display: inline-block;
              background: transparent;
              border: 0px;
              font-size: 10px;
              min-height: initial; }
              body aside.header .row .title .info ul li i {
                font-size: inherit;
                margin-right: 5px;
                vertical-align: middle; }
        body aside.header .row span {
          line-height: 33px; }
    body aside#sidebar {
      margin-top: -70px; }
  body main#content {
    /*position:relative;
				.jobs{
					li{
						padding-right: 10px;
						padding-left: 10px;
						.panel{
							position:relative;
							border: 1px solid lightgray;
							.panel-body{
								h4{
									font-size:14px;
									font-weight:bold;
								}
								small{
									color:gray;
								}
							}
						}
					}
				}
				.card{
					.panel-heading{
						h1{
							font-weight:bold;
							text-transform:uppercase;
							margin-top:0px;
						}
					}
					.card-content{
						.job_details{
							li{
								h2{
									font-size:12px;
									font-weight:bold;
									text-transform:uppercase;
									margin-top:0px;
								}
							}
						}
					}
				}
				*/ }
  body main .view-asset h1, body main .view-asset h6 {
    font-weight: 300; }
  body.myaccount aside h5 {
    font-size: 16px; }
  body.myaccount main section {
    font-size: 12px; }
    body.myaccount main section h5 {
      margin-top: 0px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold; }
    body.myaccount main section .info {
      padding: 5px 0; }
      body.myaccount main section .info h6 {
        font-weight: bold;
        font-size: 14px; }
      body.myaccount main section .info span {
        color: gray; }
      body.myaccount main section .info p {
        text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
