main{
	&#content{
		margin-top: -70px;
	}
}

aside{
	&.header{
		min-height:380px;
		background:url('http://images1.andersonautogroup.com/header-background.jpg');
		background-size:cover;
		padding:0px;
		background-position: center bottom;
	}
	&.inset{
	
	}
}