main{
	&#content{
		margin-top: -70px;
	}
}

aside{
	&.header{
		min-height:180px;
		background:url('http://images1.andersonautogroup.com/header-background.jpg');
		background-size:cover;
		padding:0px;
		background-position: center bottom;
		.row{
			background-color:rgba(black,0.7);
			margin:0px;
			.title{
				padding : 15px 0;
				margin:0px;
				position:relative;
				img.circle{
					width: 100px;
				}
				.location{
					font-size:13px;
					margin-top:15px;
					i{
						font-size:inherit;
					}
				}
				h1{
					margin: 0px;
					font-size: 30px;
				}
				.chips{
					margin-top: 15px;
					border: none !important;
					margin-bottom: 0px;
					min-height: 0px;
					.chip{
						background: transparent;
						border: 2px solid lightgray;
						margin:0px;
						line-height: 26px;
						a{
							color: lightgray;
						}
					}
				}
				.info{
					ul{
						margin: 10px 0;
						border:0px;
						li{
							text-transform:uppercase;
							margin-right:10px;
							display: inline-block;
							background:transparent;
							border:0px;
							font-size:10px;
							min-height:initial;
							i{
								font-size:inherit;
								margin-right:5px;
								vertical-align: middle;
							}
						}
					}
				}
			}
			span{
				line-height: 33px;
				i{
				
				}
			}
		}
	}
	&.inset{
	
	}
}