#view{	
	.view_asset{
		main,aside.sidebar{
			//margin-top: -70px;
		}
	}
}

.job_list{
	ul{
		li{
			article{
				header{
					margin:0px;
					border:0px;
					background: none;
					ul{
						padding-left:0px;
						li{
							padding-left:0px;
						}
					}
				}
			}
		}
	}
}

aside{
	&.toolbar{
		min-height:180px;
		display:none;
	}
}

.jobs_component{
	.uk-panel{
		background:white;
		article{
			border-bottom: 1px solid whitesmoke;
			header{
				border-radius: 0px;
				margin:0px;
				border: none;
				background: transparent;
				h4{
					font-size: 12px;
				}
			}
		}
	}
}

.company_widget{
	.uk-panel-teaser{
		//display:none;
	}
	.logo{
		background:none;
		img{
			max-width: 80px;
		}
	}
}