$icon-font-path: '../fonts/';

// bower:scss
// endbower

$gray : #ddd;
$primary-color : red;


@import 'utilities';

body{
	//margin-top: 50px;
	//padding-top:70px;
	.navbar{
		margin:0px;
		border-bottom: 1px solid lightgray;
		.navbar-right{
			margin:0px !important;
		}
	}
	section{
		&#home{
			height: 100vh;
			position: relative;
			form{
				width:100%;
			}
		}
		&#jobs{
		
		}
	}
	.sub-header{
		h1{
			margin:0px;
		}
		
	}
	aside{
		&.sidebar{
			font-size: 12px;
			.panel{
				.panel-body{
					.header{
						padding-bottom: 10px;
						margin-bottom: 10px;
					}
					h3{
						line-height: 22px;
						padding: 0px;
						margin: 0px;
						font-weight: bold;
						font-size:inherit;
						text-transform: uppercase;
					}
					dl{
						&.row{
							margin-bottom:0px;
							text-transform: capitalize;
							color:gray;
							vertical-align:middle;
							dt{
								color : gray;
								line-height:30px;
							}
							dd{
								color : $primary-color;
								line-height: 30px;
								span{
									color:gray;
									font-style: italic;
									select,input{
										&.form-control{
											margin-bottom: 10px;
											text-transform: capitalize;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.inset{
		
		}
	}
	main{
		#content{
			position:relative;
			.jobs{
				li{
					padding-right: 10px;
					padding-left: 10px;
					.panel{
						position:relative;
						border: 1px solid lightgray;
						.panel-body{
							h4{
								font-size:14px;
								font-weight:bold;
							}
							small{
								color:gray;
							}
						}
					}
				}
			}
			.card{
				.panel-heading{
					h1{
						font-weight:bold;
						text-transform:uppercase;
						margin-top:0px;
					}
				}
				.card-content{
					.job_details{
						li{
							h2{
								font-size:12px;
								font-weight:bold;
								text-transform:uppercase;
								margin-top:0px;
							}
						}
					}
				}
			}
		}
	}
	&.jobs{
		.view-job{
			h1,h6{
				font-weight:300;
			}
			aside{
				&.toolbar{
					h1{
						margin: 0px;
						font-size: 30px;
					}
					.info{
						span{
							line-height: 33px;
							i{
							
							}
						}
					}
				}
			}
		}
	}
}
