<div class="view-asset">
	<div ng-if="$root.$auth.isAuthenticated() && $root.user.info.admin_level === 'admin'" class="fixed-action-btn">
		<div class="container">
			<a class="btn-floating btn-large red waves-effect waves-light" ng-click="edit($event)">
				<i class="large material-icons">mode_edit</i>
			</a>
		</div>
	</div>
	<aside class="toolbar thick lighten-3">
		<div class="row">
			<div class="container">
				<div class="title center grey-text text-lighten-5">
					<img class="responsive-img circle" ng-show="currentAsset.logo" src="{{ currentAsset.logo }}">
					<h1>{{ currentAsset.name }} </h1>
					<div class="chips">
						<div class="chip grey-text text-lighten-5">
							{{ currentAsset.company_category[0].name }}
						</div>
					</div>
					<div class="info">
						<ul class="collection">
							<li ng-show="currentAsset.job_category.name">
								<i class="material-icons">insert_chart</i> {{ currentAsset.company_category[0].name }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<section class="row hide info grey lighten-1">
		<div class="container">
			<div class="row">
				<div class="col m4 s12">{{ currentAsset.address }}</div>
				<div class="col m4 s12">{{ currentAsset.zip }}</div>
			</div>
		</div>
	</section>	
	<section class="row description grey lighten-3 thick">
		<div class="container">
			<h6 class="center">About {{ currentAsset.name }}</h6>
			<div ng-bind-html="currentAsset.description">{{ currentAsset.description }}</div>
		</div>
	</section>
	<section class="row jobs lighten-2 thick">
		<div class="container">
			<h6 class="center teal-text text-lighten-2">Job Openings</h6>
			<div class="collection">
				<a href="#jobs/{{ job.id }}" ng-repeat="job in currentAsset.jobs" class="collection-item">
					{{ job.title }} <span class="grey-text text-lighten-1">{{ job.job_type.name }}</span>
				</a>
			</div>
		</div>
	</section>
</div>
