<div class="view-asset">
	<aside class="header">
		<div class="uk-container uk-container-center">
		
		</div>
	</aside>
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<main id="content" class="uk-width-medium-7-10 uk-width-small-1-1 job-info">
				<div class="uk-panel uk-panel-box uk-margin-small-bottom bg-white">
					<div class="uk-grid">
						<div class="uk-width-3-10">
							<div class="uk-thumbnail uk-thumbnail-expand">
								<img ng-if="currentAsset.logo" src="{{ currentAsset.logo }}"/>
							</div>
						</div>
						<div class="uk-width-7-10">
							<article class="uk-article">
								<p class="uk-article-lead">{{ currentAsset.name }}</p>
								<p class="uk-article-meta uk-text-uppercase">{{ currentAsset.company_category[0].name }}</p>
								<div class="uk-button-group">
									<button ng-if="$root.$auth.isAuthenticated() && $root.user.info.access_level === 'admin'" class="uk-button uk-button-default" ng-click="edit($event)">Edit</button>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="uk-panel uk-panel-box uk-margin-small-bottom bg-white">
					<h3 class="uk-panel-title">About {{ currentAsset.name }}</h3>
					<div ng-bind-html="currentAsset.description">{{ currentAsset.description }}</div>
				</div>
			</main>
			<aside id="sidebar" class="uk-width-medium-3-10 uk-width-small-1-1">
				<div class="uk-panel uk-panel uk-panel-box uk-text-center bg-white job_list">
					<h3 class="uk-panel-title">Job Openings</h3>
					<ul class="uk-list uk-list-line">
						<li ng-repeat="job in currentAsset.jobs">
							<article class="uk-comment">
								<header class="uk-comment-header">
									<a href="#jobs/{{ job.id }}">{{ job.title }}</a> 
									<ul class="uk-subnav uk-subnav-line uk-comment-meta">
										<li>{{ job.created_at | moment:'YYYYMMDD' }}</li>
									</ul>
								</header>
							</article>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</div>

