<div class="view-job">
	<div class="fixed-action-btn">
		<div class="container">
			<a class="btn-floating btn-large red waves-effect waves-light" ng-click="edit($event)">
				<i class="large material-icons">mode_edit</i>
			</a>
		</div>
	</div>
	<aside class="row toolbar grey lighten-3">
		<div class="container">
			<div class="left">
				<h1>{{ currentCompany.name }} </h1>
			</div>
			<div class="right text-right info">
				<span>
					<i class="material-icons tiny">insert_chart</i> {{ currentCompany.job_category.name }}
				</span>
				<span>
					<i class="material-icons tiny">insert_chart</i> {{ currentCompany.job_type.name }}
				</span>
				<span>
					<i class="material-icons tiny">insert_chart</i> {{ currentCompany.job_level.name }}
				</span>
			</div>
		</div>
	</aside>
	<section class="row skills grey lighten-1">
		<div class="container">
			<h6>Required Skills</h6>
			<div class="skills">
				<div class="chip" ng-repeat="skill in currentCompany.required_skills">{{ skill.tag }}</div>
			</div>
		</div>
	</section>	
	<section class="row description lighten-2">
		<div class="container">
			<h6>Company Description</h6>
			<div ng-bind-html="currentCompany.description">{{ currentCompany.description }}</div>
		</div>
	</section>
</div>
